##Transformación de Fechas y horas

In [4]:
#Importamos librerías
from datetime import datetime, date, time, timedelta #librería para trabajar con fechas y horas
import datetime
import pandas as pd

In [8]:
#AÑO
ahora = datetime.datetime.now() #"ahora" guarda la fecha y hora actual usando las libreria datetime
print("La fecha y hora actual es: ", ahora) #imprimimos

#Este año
anio = ahora.year #extrae solamente el año de la variable "ahora"
print("El año es: ", anio)

#Año proximo
año_proximo = anio + 1 #suma 1 al año actual, obteniendo el año siguiente
print("El año próximo es: ", año_proximo)

#5 años mas
año_5mas = anio + 5 #suma 1 al año actual, obteniendo el año siguiente
print("En 5 años es: ", año_5mas)

La fecha y hora actual es:  2025-09-14 22:53:50.577659
El año es:  2025
El año próximo es:  2026
En 5 años es:  2030

In [9]:
#Mes

#Mes actual
mes_actual = ahora.month #"mes_actual" extrae de la variable "ahora" el mes
#month devuelve un numero del 1 al 12
print("El mes actual es: ", mes_actual)

#Mes próximo
mes_proximo = mes_actual + 1
print("El mes próximo es: ", mes_proximo)

#Cambio el tipo de dato
print(type(mes_proximo)) #imprime el tipo de dato que es
print(type(str(mes_proximo))) #cambia el tipo de dato

El mes actual es:  9
El mes próximo es:  10
<class 'int'>
<class 'str'>

In [ ]:
#DIA

#Dia actual
dia_actual = ahora.day #la variable "dia_actual" extrae de "ahora" solo el diia
print("El día actual es: ", dia_actual)

#Dia próximo
dia_proximo = dia_actual + 1
print("El día próximo es: ", dia_proximo)

El día actual es:  11
El día próximo es:  12

In [10]:
#HORA

#Hora GMT
ahora = datetime.datetime.now() #en la variable "ahora" se guarda la ahora actual GMT
print("La hora Greenwich Mean Time (GMT) es: ", ahora)

#Hora Argentina (Le restamos 3 horas)
hora_arg = ahora - timedelta(hours=3) #como en Arg estamos a -3 horas, con "timedelta" le restamos esas horas de dif.
print("La hora en Argentina es:", hora_arg)

#Hora +3
hora_mastres = ahora + timedelta(hours=3) #como en Arg estamos a -3 horas, con "timedelta" le restamos esas horas de dif.
print("La hora +3 es:", hora_mastres)

La hora Greenwich Mean Time (GMT) es:  2025-09-14 22:53:55.763054
La hora en Argentina es: 2025-09-14 19:53:55.763054
La hora +3 es: 2025-09-15 01:53:55.763054

In [14]:
# Sin formatear la hora
hora_sinformateada = ahora #de la variable "ahora" con "strftime" le cambiamos el formato

# Imprimir la hora sin ser formateada
print("La hora actual es:", hora_sinformateada)
# Formatear la hora
hora_formateada = ahora.strftime("%Y-%m-%d %H:%M:%S") #de la variable "ahora" con "strftime" le cambiamos el formato

# Imprimir la hora formateada
print("La hora actual es:", hora_formateada)

# Formatear la hora sin segundos
hora_formateadasinseg = ahora.strftime("%Y-%m-%d %H:%M") #de la variable "ahora" con "strftime" le cambiamos el formato

# Imprimir la hora formateada
print("La hora actual es:", hora_formateadasinseg)

La hora actual es: 2025-09-14 22:53:55.763054
La hora actual es: 2025-09-14 22:53:55
La hora actual es: 2025-09-14 22:53

##Transformación de Strings a enteros

In [ ]:
#Cambio el tipo de dato, de string a enteros

numero = "15"

print(type(numero))

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

<class 'str'>
El numero ingresado es : 15 y el tipo es:  <class 'str'>

In [ ]:
#convertimos el dato de estring a enteros
numero = int(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 15 y el tipo es:  <class 'int'>

##Transformación de Strings a decimales

In [18]:
#Cambio el tipo de dato, de string a enteros

numero = "10.1" #defini una variable

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ") #imprimo la variable y su formato
#La f delante de las comillas indica que estás usando una f-string (formateo de cadenas introducido en Python 3.6).
#Sirve para insertar valores de variables o expresiones directamente dentro de un string usando llaves {}.

El numero ingresado es : 10.1 y el tipo es:  <class 'str'>

In [19]:
#convertimos el dato de estring a enteros
numero = float(numero) #dentro de "numero" guardo la variable cambiada a "float" (un decimal)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 10.1 y el tipo es:  <class 'float'>

##Transformación, join de datasets

In [20]:

# Notas de Matemática y Lengua
#Defino un dataframe
df1 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno1', 'Alumno2'],
                    'Matermática': ['5', '6', '7'],
                    'Lengua': ['7', '7', '8']
                    })

# Notas de Historia y Geografía
#Defino otro dataframe
df2 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno2', 'Alumno3'],
                    'Historia': ['4', '5', '4'],
                    'Geografía': ['6', '7', '9']
                    })

# Mostramos los dataframes
#Imprimo las tablas con un espacio
print(df1)
print('           ') #espacio
print(df2)

    Alumno Matermática Lengua
0  Alumno0           5      7
1  Alumno1           6      7
2  Alumno2           7      8

    Alumno Historia Geografía
0  Alumno0        4         6
1  Alumno2        5         7
2  Alumno3        4         9

In [21]:
# Hacemos join de los dataframes y mostramos las notas

merged_df = pd.merge(df1, df2, on='Alumno', how='inner')
#con merged hago un join
# "on" indica la columna en comun a unir, "how" indica el como (inner, left, right)
#"Dentro de merged_df guarda la union de las cosas en comun de la columna alumnos de las tablas df1 y df2"
print(merged_df)

    Alumno Matermática Lengua Historia Geografía
0  Alumno0           5      7        4         6
1  Alumno2           7      8        5         7

##Substitución de datos faltante por un tipo de dato default

In [22]:
#Reemplazamos nulos por ceros

# Creando un DataFrame
df = pd.DataFrame({'columna1': [1, 2, None, 4],
                   'columna2': [5, None, None, 8]})

# Rellenando los valores nulos con 0
df = df.fillna(0) #Podemos reemplazar el cero por el valor que necesitemos
#fillna = rellena espacios vacios
print(df)

   columna1  columna2
0       1.0       5.0
1       2.0       0.0
2       0.0       0.0
3       4.0       8.0

##Filtrar datos que rompen reglas de negocio o porque no los necesitemos

In [23]:

# Creamos un DataFrame de ejemplo
data = {'producto': ['A', 'B', 'C', 'D'],
        'precio': [5, 15, 8, 20]}
df = pd.DataFrame(data)

print(df)

  producto  precio
0        A       5
1        B      15
2        C       8
3        D      20

In [24]:
# Filtrar los productos con precio menor a 10
df_filtrado = df[df['precio'] < 10] #dentro de "df_filtrado" guardo la tabla df, donde de esta tabla voy a requerir solo los precios <10
print(df_filtrado)

  producto  precio
0        A       5
2        C       8

##Eliminar columnas que no son necesarias

In [25]:

# Creamos un DataFrame de ejemplo
data = {'nombre': ['Ana', 'Pedro', 'María'],
        'edad': [30, 25, 32],
        'ciudad': ['Madrid', 'Barcelona', 'Sevilla'],
        'correo': ['ana@example.com', 'pedro@example.com', 'maria@example.com'],
        'telefono': [123456789, 987654321, 567891234]}
df = pd.DataFrame(data)

print(df)

  nombre  edad     ciudad             correo   telefono
0    Ana    30     Madrid    ana@example.com  123456789
1  Pedro    25  Barcelona  pedro@example.com  987654321
2  María    32    Sevilla  maria@example.com  567891234

In [26]:
# Eliminar las columnas 'correo' y 'telefono'
columnas_a_eliminar = ['correo', 'telefono']
#creo una variable que va a contener las columnas "correo" y "telefono"

df.drop(columnas_a_eliminar, axis=1, inplace=True)
#axis=1: Se refiere a las columnas.
#inplace=True: modifica el DataFrame original en lugar de crear una copia y realizar los cambios en ella
print(df)

  nombre  edad     ciudad
0    Ana    30     Madrid
1  Pedro    25  Barcelona
2  María    32    Sevilla